@import 'src/styles/_vars.scss';

.account-profil {
  &__breadcrumb {
    padding: $gutter 0;

    a:hover {
      color: $secondaryColor;
    }
  }

  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor; 
  }

  &__subtitle {
    font-size: 1.4em;
    font-weight: bold;
    margin: $gutter/2 0;
    color: $primaryColor; 
  }

  &__container {
    display: flex;

    &__left {
      width: 50%;
    }
    &__right {
      width: 50%;
    }
  }

  &__submit {
    display: block;
    margin: $gutter auto;
    border: 0;
    background-color: $darkBlue;
    color: #fff;
    padding: $gutter/2 $gutter;
    font-size: inherit;
    border-radius: .4rem;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  &__avatar {
    margin-bottom: $gutter;

    &__image {
      position: relative;
      width: 120px;
      height: 120px; 
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: inline-block;
        width: 120px;
        height: 120px; 
        border-radius: 50%;
      }

      button {
        position: absolute;
        padding: .8rem 1rem;
        background-color: $secondaryColor;
        color: #fff;
        border-radius: .5rem;
        display: none;
        font-size: .9em;
        border: 0;
      }

      &:hover {
        cursor: pointer;
        button {
          display: block;
        }
      }
    }

    &__noimage {
      width: 120px;
      height: 120px;
      background-color: #E3E5EC;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      i {
        color: $lightBlue;
        font-size: 3em;
      }

      button {
        position: absolute;
        padding: .8rem 1rem;
        background-color: $secondaryColor;
        color: #fff;
        border-radius: .5rem;
        display: none;
        font-size: .9em;
        border: 0;
      }

      &:hover {
        cursor: pointer;
        button {
          display: block;
        }
      }
    }
    &__remove {
      margin: 0 auto;
      display: block;
      border: 0;
      background-color: transparent;
      color: #E3E5EC;
      padding: .5rem;
      font-size: .9em;

      &:hover {
        color: $secondaryColor;
      }
    }
  }

  &__infos {
    &__field {
      margin-bottom: .3rem;
      width: 60%;
      .global-input {
        width: 100%;
      }
    }
  }
  &__address {
    margin-bottom: $gutter;

    &__field {
      margin-bottom: .3rem;
      width: 60%;
      .global-input {
        width: 100%;
      }
    }
  }
  &__password {
    margin-bottom: $gutter;
    &__field {
      margin-bottom: .3rem;
      width: 60%; 
      .global-input {
        width: 100%;
      }
    }
  }
  &__params {
    &__content {
      margin-left: $gutter;
    }
  }
}


.account-profil-upload {
  text-align: center;

  .global-button {
    padding: .5rem 1rem;
  }

  &__file {
    font-family: inherit;
  }

  &__error {
    background-color: $red;
    color: #fff;
    padding: .5rem;
    margin-bottom: $gutter/2;
  }

  &__progress {
    background-color: #fff;
    margin: $gutter 0;
    position: relative;
    height: 25px;
    border-radius: .5rem;

    &__text {
      text-align: center;
      height: inherit;
      line-height: 25px;
      width: 100px;
      position: absolute;
      left: calc(50% - 50px);
    }

    &__bar {
      border-radius: .5rem; 
      background-color: $green;
      font-size: .8em;
      text-align: center;
      height: inherit;
    }
  }
}

@media (max-width: 1200px) {
  .account-profil {
    &__container {
      flex-direction: column;

      &__left {
        width: 100%;
      }
      &__right {
        width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .account-profil {
    &__container {
      flex-direction: column;
    }

    &__infos {
      &__field {
        width: 100%;
      }
    }
    &__address {
      margin-bottom: $gutter;
  
      &__field {
        width: 100%;
      }
    }
    &__password {
      &__field {
        width: 100%;
      }
    }
  }
}
