@import 'src/styles/_vars.scss';

.header {
    position: relative;
    color: #fff;
    &__logo {
      position: absolute;
      left: calc(50% - 125px);
      top: calc(50% - 30px);
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(28,36,45,0.5);
        padding: ($gutter / 2) $gutter;
        /*position: relative; */

        &__menu {
          &__burger {
            background-color: transparent;
            border: 0;
            color: #fff;
            font-size: 2em;
            display: none;
          }
          // &__container {
          //   display: block;
          //   position: absolute;
          //   bottom: 0;
          //   background-color: #2d3f57;
          //   padding: $gutter;

          //   .header__nav__menu__item {
          //     display: block;
          //   }
          // }
          &__item {
            position: relative;
            margin-right: $gutter/2;
            padding: 0 $gutter/2;
            font-size: 1.2em;
            display: inline-block;
            z-index: 1;

            &::before {
              content: "";
              transition: all .5s;
            }

            &:hover::before {
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 10px;
              background-color: $secondaryColor;
              border-radius: 1rem;
              z-index: -1;
            }
          }
        }
        &__account {
          &__button {
            border: 0;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 1.2em;
            background-color: #fff;
            color: #2d3f57;
            &:hover {
                background-color: $secondaryColor;
                color: #fff;
            }
          }
        }
    }
}

@media (max-width: 1200px) {
  .header {
    &__nav {
      &__menu {
        display: flex;
        flex-direction: column;

        &__item { 
          margin: ($gutter / 6);
        }
      }
    }
  }
}

