@import 'src/styles/_vars.scss';

.react-autocomplete-input {
  top: 46px !important;
  left: 0 !important;
  width: 100%;
  font-size: .8em;
}
.react-autocomplete-input > li.active {
  background-color: $secondaryColor;
}

.offer {
  display: flex;
  // min-height: inherit;
  height: calc(100vh - 200px);

  &__map {
    flex-grow: 3;
    min-height: 400px;
    // height: 100%;
  }

  &__aside {
    box-sizing: border-box;
    width: 500px;
    background-color: $lightBlue;
    color: $darkBlue;
    padding: $gutter;
    overflow-y: auto;

    &__title {
      font-size: 1.6em;
      font-weight: bold;
      margin-bottom: $gutter/2;
      color: $primaryColor; 
    }

    &__subtitle {
      font-size: 1.2em;
      font-weight: bold;
      margin-top: $gutter;
      margin-bottom: $gutter/2;
      color: $primaryColor; 
    }

    &__search {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #8199b7;
      border-radius: .4rem;
      margin-bottom: $gutter/2;

      &__input {
        flex-grow: 1;
      }
      &__button {
        font-size: inherit;
        padding: .5rem 1rem;
        border: 0;
        background-color: transparent;
        color: inherit;

        &:hover {
          color: $secondaryColor;
        }
      }
    }
    
    &__options {
      &__button {
        position: relative;
        font-size: inherit;
        color: #fff;
        border: 0;
        background-color: transparent;
        margin-bottom: $gutter/2;

        &::after {
          content: "";
          position: absolute;
          right: -10px;
          top: 5px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 8px 5px;
          border-color: transparent transparent #fff transparent;
        }

        &--show::after {
          border-width: 8px 5px 0 5px;
          border-color: #fff transparent transparent transparent;
        }

        &:hover {
          color: $secondaryColor;
        }

      }
      &__fields {
        display: none;

        &--show {
          display: block;
        }

        input, select {
          margin-bottom: .5rem;
        }

        &__group {
          display: flex;
          align-items: center;
        }

        &__game {
          width: 100%;
          height: 46px;
          resize: none;
          margin-bottom: .25rem;
          outline: none;
          background-color: transparent;
        }
        &__autocomplete {
          height: 46px;
          position: relative;
          display: flex;
          align-items: center;
          background-color: #fff;
          border-radius: .4rem;
          margin-bottom: .5rem;

          & > span {
            display: block;
            height: 46px;
            flex-grow: 1;
            background-color: transparent;
          }

          &__button {
            font-size: inherit;
            padding: .5rem 1rem;
            border: 0;
            background-color: transparent;
            color: inherit;
    
            &:hover {
              color: $secondaryColor;
            }
          }
        }
        &__players {
          width: 50%;
          height: 46px;
          display: flex;
          align-items: center;
          background-color: #fff;
          border-radius: .4rem;
          margin-bottom: .5rem;
          margin-left: .25rem; 

          &__input {
            background-color: transparent;
            border: 0;
            width: calc(100% - 32px);
            padding: .6rem 1rem;
            font-size: inherit;
            font-family: inherit;
            color: $darkBlue;
            margin-bottom: 0 !important;
          }
          &__button {
            background-color: transparent;
            font-size: inherit;
            border: 0;
            color: $darkBlue;
            width: 32px;
          }
        }
        &__range {
          flex-grow: 1;
          border: 0;
          background-color: transparent;
          padding: .6rem 1rem;
          // font-size: inherit;
          // font-family: inherit;
        }
        &__disponibility {
          width: 50%;
          margin-right: .25rem;
        }
        &__types {
          width: 50%;
          margin-left: .25rem;
        } 
        &__categories {
          width: 50%;
          margin-right: .25rem;
        } 
      }
    }

    &__tags {
      &__tag {
        border: 0;
        background-color: #8199b7;
        color: #fff;
        padding: .3rem .8rem;
        border-radius: .4rem;
        margin-right: .4rem;
        margin-bottom: .4rem;

        i {
          margin-right: 5px;
          color: #56677d;
        }

        &:hover {
          background-color: $secondaryColor;
          i {
            color: #fff;
          }
        }
      }
    }

    &__results {
      &__result {
        display: flex;
        align-items: center;
        background-color: #E3E5EC;
        margin-bottom: .5rem;
        padding: 1rem;
        border-radius: .4rem;
        cursor: pointer;

        &__content {
          flex-grow: 1;
          line-height: 1.6;
        }
        &__image {
          width: 80px;
          height: 80px;
          margin-right: 1rem;
        }
        &__name {
          font-weight: bold;
        }
        &__type {
          float: right;
          font-size: .8em;
        }
        &__disponibility {
          display: inline-block;
          font-size: .7em;
          background-color: #4abb6d;
          color: #fff;
          padding: .2rem .6rem;
          border-radius: .4rem;

          &--off {
            background-color: #a1b2b8;
          }
        } 
        &__city {
          font-size: .8em;
        } 
      }
    }
  }
}

@media (max-width: 1200px) {
  .offer {
    height: auto;
    flex-direction: column;

    &__aside {
      margin: 0 auto;
    }
  }
}

@media (max-width: 500px) {
  .offer {
    h1 {
      text-align: center;
    }
    &__aside {
      width: 100%;
      padding: $gutter/2;
    }
  }
}