@import 'src/styles/_vars.scss';

.default-user-image {
  width: 120px;
  height: 120px;
  background-color: $backgroundLight;
  color: $darkBlue;
  font-size: 4em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $gutter;
}
.user-picture {
  border-radius: 50%;
  margin-right: $gutter;
}
.offer-detail__global {
  display: flex;
  margin-bottom: $gutter;
}

.offer-detail {
  &__breadcrumb {
    margin: $gutter 0;
    & > a {
      margin: $gutter ($gutter / 4) $gutter 0;
    }
  }
  &__infos {
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      font-size: 2em;
      font-weight: bold;
      margin-left: $gutter;
      color: $primaryColor;
    }
    &__disponibility {
      margin-left: ($gutter /2);
      border-radius: 20px;
      padding: ($gutter /4);
      background-color: $green;
      font-size: .8em;
      color: $darkBlue;

      &--off {
        background-color: $backgroundLight;
      }
    }
  }
  &__game {
    text-align: center;
    padding-top: $gutter;
    font-size: 1.4em;
    color: $primaryColor;
  }
  &__stats {
    margin: $gutter;
    background-color: $darkBlue;
    padding: $gutter;
    display: flex;
    justify-content: space-between;

    &__item {
      & > i {
        font-size: 2.5em;
        margin-right: ($gutter /2);
      }
      &__label {
        display: block;
        margin-top: ($gutter /2);
        font-size: .8em;
        color: lightgray;
        text-align: center;
      }
    }
  }
  &__left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    &__description {
      margin: 0 $gutter $gutter 0;
      line-height: 1.6;
      
      &__title {
        font-size: 1.5em;
        margin-bottom: ($gutter /2);
        font-weight: bold;
        color: $primaryColor;
      }
      &__content {
        line-height: 1.6;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
  
      &__button {
        font-size: 1.2em;

        &.active {
          color: $primaryColor;
        }

        &:disabled {
          opacity: 0.6;

          &:hover {
            background-color: $darkBlue;
            cursor: default;
          }
        }
      }
    }
    &__user {
      margin: $gutter 0 $gutter 0;
      padding: ($gutter /2);
      width: 95%;
      display: flex;

      &__container {
        display: flex;
        flex-direction: column;
        align-self: center;
      }
      &__content {
        padding: ($gutter /4);
        & span {
          font-weight: bold;
        }
      }
    }
  }
  &__right {
    width: 450px;
    text-align: center;
    &__image {
      width: 100%;
      max-width: 450px;
      margin-bottom: $gutter;
    }
    &__map {
      background-color: lightgray;
      width: 450px;
      height: 450px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      &__text {
        position: absolute;
        z-index: 2;
        top: 5px;
        left: 5px;
        background-color: rgba(22,35,53,0.6);
        padding: $gutter/3 $gutter/2;
      }
    }
  }
}

.modal__bookGame {
  p {
    line-height: 2;

    span {
      font-weight: bold;
    }
  }
  &__content__p3 {
    margin-top: $gutter/2;
  }
  &__button {
    margin-top: $gutter;

    button {
      margin-right: 1rem;
      padding: .6rem $gutter;
    }
    &__validate {
      background-color: $green;
    }
  }
}

@media (max-width: 1200px) {
  .offer-detail {
    &__stats {
      flex-wrap: wrap;
      justify-content: center;
  
      &__item {
        margin: $gutter ($gutter /2) ($gutter /2) 0;
        text-align: center;

        & > i {
          margin-right: 0;
        }

        &__value {
          display: block;
          margin-top: $gutter/2;
        }
      }
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
      margin-top: $gutter;
      &__map {
        max-width: 100%;
      }
    }
  }
  .offer-detail__global {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .offer-detail {
    &__left {
      &__user {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .default-user-image, .user-picture {
    margin: 0 0 $gutter 0;
  }
}
