@import 'src/styles/_vars.scss';

.reservations {
  position: relative;

  &__breadcrumb {
    margin: $gutter 0;
  }
  &__title {
    font-size: 2em;
    color: $primaryColor;
    font-weight: bold;
    margin: $gutter 0;
    &__infos {
      color: white;
    }
  }
  &__container {
    background-color: $darkBlue;
    margin: $gutter;

    &__item {
      display: flex;
      justify-content: space-between;

      &__left {
        display: flex;
        align-items: center;
        flex-grow: 1;

        &__picture {
          width: 150px;
          height: 150px;
          padding: $gutter/2;
        }
        &__text {
          line-height: 1.8;
          flex-grow: 1;
          display: flex;
          align-items: center;   

          &__title {
            flex-grow: 1;
          }
          &__subtitle {
            font-size: 1.8em;
            color: $primaryColor;
          }
          &__date {
            font-size: .8em;
          } 
          &__status {
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-right: 2rem;
            border-radius: 5px;
            padding: .1rem .4rem;
            background-color: $green;
            font-size: .9em;
            color: $darkBlue;
            display: inline-block;
            font-weight: bold;

            &--pending {
              background-color: $primaryColor;
            }
            &--canceled, &--refused {
              background-color: $red;
              color: #fff;
            }
            &--finished {
              background-color: $green;
            }
          }
          &__third {
            font-size: 1.2em;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 2rem;
        &__first {
          display: flex;
        }

        &__button {
          &__global {
            .global-button {
              width: 136px;
              margin-bottom: .5rem;

              i {
                font-size: 1.2em;
                margin-right: .3rem;
              }

              &.cancel i {
                color: $red;
              }
            }
            div:last-child {
              .global-button {
                margin-bottom: 0;
              } 
            }
          }
        }
      }
    }
  }
  &__details {
    line-height: 2;

    &__link {
      border-bottom: 1px solid $lightBlue;
      margin-top: $gutter/2;
      display: inline-block;

      &:hover {
        color: $secondaryColor;
        border-bottom: 1px solid $secondaryColor;
      }
    }
    &__title {
      font-size: 2em;
      color: $primaryColor;
      font-weight: bold;
    }
    &__list {
      &__item {
        &__bold {

          font-weight: bold;
        }
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}


@media (max-width: 768px) {
  .reservations {
    &__container {
      &__item {
        &__left {
          &__text {
            flex-wrap: wrap;
            &__status {
              margin: $gutter/2 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .reservations {
    &__container {
      margin: $gutter/2 0;
      padding: 0 1rem;
      &__item {
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        &__right {
          margin-right: 0;
          margin: $gutter/2 0;
          width: 100%;

          &__button {
            &__global {
              .global-button {
                width: 100%;
              }
            }
          }
        }
        &__left {
          flex-wrap: wrap;
          justify-content: center;
          &__text {
            flex-wrap: wrap-reverse;
            &__status {
              margin: $gutter/2 auto;
            }
          }
        }
      }
    }
  }
}

/*
@media (max-width: 710px) {
  .reservations {
    &__title {
      font-size: 2em;
      color: $primaryColor;
      font-weight: bold;
      margin: $gutter 0;
    }
    &__container {
      background-color: $darkBlue;
      margin: $gutter 0;
  
      &__item {
        flex-direction: column;
        
  
        &__left {
          display: flex;
          flex-direction: column;
  
          &__picture {
            width: 150px;
            height: 150px;
            padding: $gutter/2;
          }
          &__text {
            max-width: 100%;
            text-align: center;
  
            &__subtitle {
              font-size: 1.8em;
              color: $primaryColor;
              margin-bottom: $gutter/2;
              
            }
            &__status {
              margin-left: $gutter/2;
              border-radius: 20px;
              padding: ($gutter /6) ($gutter/2);
              font-size: .4em;
              color: $darkBlue;
              &--pending {
                background-color: $secondaryColor;
                
              }
            }
            &__status--pending {
              background-color: $secondaryColor;
            }
            &__third {
              font-size: 1.2em;
            }
          }
          
        }
        &__right {
          align-items: center;
          margin: $gutter/2 0;
  
          &__button {
            margin: $gutter/2 0;
            width: 90%;

            &:hover {
            background-color: $secondaryColor;
          }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .reservations {
    &__details {
      width: calc(100% -2rem);
      margin: 0 $gutter/2;
      left: 0;
      flex-direction: column;

      &__list {
        &__item {
          &__bold {
            display: block;
          }
        }
      }

      &__buttons {
        text-align: center;
        &__button {
          margin: $gutter/2 0;
        }
      }
      &__link {
        display: inline-block;
      }
    }
  }
}
*/
