@import 'src/styles/_vars.scss';

.modal-background {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.reservations {
  position: relative;

  &__breadcrumb {
    margin: $gutter 0;
  }
  &__title {
    font-size: 2em;
    color: $primaryColor;
    font-weight: bold;
    margin: $gutter 0;
  }
  &__container {
    background-color: $darkBlue;
    margin: $gutter;

    &__item {
      display: flex;
      justify-content: space-between;

      &__left {
        display: flex;
        align-items: center;

        &__picture {
          width: 150px;
          height: 150px;
          padding: $gutter/2;
        }
        &__text {
          line-height: 1.6;

          &__subtitle {
            font-size: 1.8em;
            color: $primaryColor;
          }
          &__status {
            margin-left: $gutter/2;
            border-radius: 20px;
            padding: ($gutter /6) ($gutter/2);
            background-color: $green;
            font-size: .4em;
            color: $darkBlue;
          }
          &__third {
            font-size: 1.2em;
          }
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 2rem;

        &__button {
          font-size: .9em;
        }
      }
    }
  }
  &__details {
    width: 800px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: calc(50% - 400px);
    z-index: 99;
    background-color: $backgroundLight;
    color: $darkBlue;
    line-height: 2;
    padding: $gutter;
    margin: $gutter;
    border-radius: 1rem;

    &__link {
      border-bottom: 1px solid $lightBlue;

      &:hover {
        color: $secondaryColor;
        border-bottom: 1px solid $secondaryColor;
      }
    }
    &__title {
      font-size: 2em;
      color: $primaryColor;
      font-weight: bold;

    }
    &__list {


      &__item {
        &__bold {

          font-weight: bold;
        }
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__button {
        background-color: $lightBlue;
          border: none;
          border-radius: 5px;
          padding: ($gutter /3);
          font-size: 1em;
          color: white;
          margin-right: $gutter/2;
          &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}

@media (max-width: 710px) {
  .reservations {
    &__title {
      font-size: 2em;
      color: $primaryColor;
      font-weight: bold;
      margin: $gutter 0;
    }
    &__container {
      background-color: $darkBlue;
      margin: $gutter 0;
  
      &__item {
        flex-direction: column;
        
  
        &__left {
          display: flex;
          flex-direction: column;
  
          &__picture {
            width: 150px;
            height: 150px;
            padding: $gutter/2;
          }
          &__text {
            max-width: 100%;
            text-align: center;
  
            &__subtitle {
              font-size: 1.8em;
              color: $primaryColor;
              margin-bottom: $gutter/2;
              
            }
            &__status {
              margin-left: $gutter/2;
              border-radius: 20px;
              padding: ($gutter /6) ($gutter/2);
              background-color: $green;
              font-size: .4em;
              color: $darkBlue;
            }
            &__third {
              font-size: 1.2em;
            }
          }
          
        }
        &__right {
          align-items: center;
          margin: $gutter/2 0;
  
          &__button {
            margin: $gutter/2 0;
            width: 90%;

            &:hover {
            background-color: $secondaryColor;
          }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .reservations {
    &__details {
      width: calc(100% -2rem);
      margin: 0 $gutter/2;
      left: 0;
      flex-direction: column;

      &__list {
        &__item {
          &__bold {
            display: block;
          }
        }
      }

      &__buttons {
        text-align: center;
        &__button {
          margin: $gutter/2 0;
        }
      }
      &__link {
        display: inline-block;
      }
    }
  }
}
