@import 'reset';
@import 'vars';

body {
  font-family: 'Gotu', sans-serif;
  background-color: $lightBlue;
  color: #fff;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: $secondaryColor;
    border-radius: 15px;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $lightBlue;
  }
}

.app--light {
  background-image: url(../assets/images/background.jpg);
  background-position: bottom;
}

main {
  min-height: calc(100vh - 200px); // header: 80px / footer: 120px
  /* width */
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  main {
    //min-height: auto;
  }

  .wrapper {
      width: 100%;
      padding: 0 1rem;
  }
}

.global-input {
  font-family: inherit;
  font-size: inherit;
  border-radius: .3rem;
  border: none;
  padding: .6rem 1rem;
  background-color: #fff;
  color: $darkBlue;
  max-width: 100%;

  &:focus, &:active {
    border: none;
    outline: none;
  }
}

.global-select {
  font-family: inherit;
  font-size: inherit;
  border-radius: .3rem;
  border: none;
  padding: calc(.6rem - 1px) 1rem;
  background-color: #fff;
  color: $darkBlue;
  max-width: 100%;

  &:focus, &:active {
    border: none;
    outline: none;
  } 
}

.global-button {
  font-family: inherit;
  font-size: inherit;
  padding: .8rem 1rem;
  color: #fff;
  background-color: $darkBlue;
  border: none;
  border-radius: .3rem;
  max-width: 100%;

  &--light {
    color: $darkBlue;
    background-color: $backgroundLight;
  }

  &:hover {
    background-color: $secondaryColor;
    color: #fff;
  }
}

.global-error {
  text-align: center;
  margin: $gutter;
  padding: $gutter/3;
  background-color: #c74c4f;
  color: white;
  font-weight: bold;
  border-radius: .6rem;
}
