@import 'src/styles/_vars.scss';

// @mixin account-offers-input {
//   font-size: inherit;
//   font-family: inherit;
//   color: $darkBlue;
//   padding: .5rem 1rem;
//   // border-radius: .4rem;
//   border: 1px solid #8199b7;
//   background-color: #fff;
//   width: 100%;
//   margin-bottom: .3rem;
// }

.account-offers-form {
  &__breadcrumb {
    padding: $gutter 0;

    a:hover {
      color: $secondaryColor;
    }
  }

  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor; 
  }

  &__subtitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor; 
  }

  &__container {
    display: flex;

    &__left {
      width: 60%;
      margin-right: $gutter;

      .account-offers-form__subtitle {
        margin-top: $gutter/2;
      }
    }
    &__right {
      width: 40%;
      margin-left: $gutter;
    }
  }

  &__dates {
    line-height: 1.6;
  }

  &__submit {
    display: block;
    margin: $gutter auto;
    border: 0;
    background-color: $darkBlue;
    color: #fff;
    padding: $gutter/2 $gutter;
    font-size: inherit;
    border-radius: .4rem;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  &__name {
    width: 100%;
  }

  &__block {
    background-color: $darkBlue;
    padding: $gutter;
    margin-bottom: .4rem;

    &--flex50 {
      display: flex;
      & > div {
        width: 50%;
      }
    }
  }

  &__type {
    select {
      width: calc(60% - .4rem);
      margin-bottom: 0;
      margin-right: .4rem;
    }
    input {
      width: 40%;
      margin-bottom: 0;
    }
  }

  &__game {
    select {
      width: 50%;
      margin-bottom: .4rem;
    }
    input {
      width: 50%;
      margin-bottom: .4rem;

      &:last-child {
        width: calc(50% - .4rem);
        margin-left: .4rem;
      }
    }
    &:last-child {
      input {
        margin-bottom: 0;
      }
    }

    &__name {
      width: 100%;
      margin-bottom: .4rem;
    }

    &__image {
      &__define {
        background-color: transparent;
        border: 2px dashed $lightBlue;
        color: #E3E5EC;
        padding: .3rem 1rem;
        font-size: inherit;
        font-family: inherit;
        display: block;
        margin: 0 auto;
        margin-top: .5rem;

        &:hover {
          border: 2px solid $secondaryColor;
          background-color: $secondaryColor;
        }
      }
    }
  } 

  &__description {
    resize: vertical;
    min-height: 400px;
    width: 100%;
    margin-bottom: $gutter/2;
  }

  &__location {
    margin-bottom: .4rem;
    width: 100%;
  }

  &__map {
    background-color: rgb(169, 187, 142);
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .account-offers-form {
    &__container {
      flex-direction: column;

      &__left {
        width: 100%;
        margin-right: 0;
      }
      &__right {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .account-offers-form {

    &__block {
      &--flex50 {
        display: block;
        & > div {
          width: 100%;
          margin-bottom: $gutter/2;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__type {
      select {
        width: 100%;
        margin-right: 0;
        margin-bottom: .3rem;
      }
      input {
        width: 100%;
      }
    }

    &__game {
      select {
        width: 100%;
      }
      input {
        width: 100%;

        &:last-child {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
