@import 'src/styles/_vars.scss';

.account-offers-form {
  &__breadcrumb {
    padding: $gutter 0;

    a:hover {
      color: $secondaryColor;
    }
  }

  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor; 
  }

  &__subtitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor; 
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__global {
      display: flex;
      flex-direction: row;
    }

    &__left {
      width: 60%;
      margin-right: $gutter;

      .account-offers-form__subtitle {
        margin-top: $gutter/2;
      }
    }
    &__right {
      width: 40%;
      margin-left: $gutter;
    }
  }

  &__dates {
    line-height: 1.6;
  }

  &__submit {
    display: block;
    margin: $gutter auto;
    border: 0;
    background-color: $darkBlue;
    color: #fff;
    padding: $gutter/2 $gutter;
    font-size: inherit;
    border-radius: .4rem;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  &__name {
    width: 100%;
    .global-input {
      width: 100%;
    }
  }

  &__block {
    background-color: $darkBlue;
    padding: $gutter;
    margin-bottom: .4rem;

    &--flex50 {
      display: flex;
      & > div {
        width: 50%;
      }
    }
  }

  &__type {
    select {
      width: calc(60% - .4rem);
      margin-bottom: 0;
      margin-right: .4rem;
    }
    input {
      width: 40%;
      margin-bottom: 0;
    }
  }

  &__game {
    /*
    select {
      width: 100%;
      margin-bottom: .4rem;
    }
    input {
      width: 50%;
      margin-bottom: .4rem;

      &:last-child {
        width: calc(50% - .4rem);
        margin-left: .4rem;
      }
    }
    &:last-child {
      input {
        margin-bottom: 0;
      }
    }
    */

    &__category {
      width: 100%;
      margin-bottom: .4rem;
    }

    &__players-min {
      width: 100%;
      width: 50%;
      margin-bottom: .4rem;

      .global-input {
        width: 100%;
      } 
    }

    &__players-max {
      width: 100%;
      width: calc(50% - .4rem);
      margin-left: .4rem;
      margin-bottom: .4rem;

      .global-input {
        width: 100%;
      }
    }

    &__duration {
      width: 100%;
      width: 50%;
      margin-bottom: .4rem;

      .global-input {
        width: 100%;
      }
    }

    &__age {
      width: 100%;
      width: calc(50% - .4rem);
      margin-left: .4rem;
      margin-bottom: .4rem;

      .global-input {
        width: 100%;
      }
    }

    &__type {
      &__radio {
        display: inline-block;
        width: 150px;
        cursor: pointer;

        input {
          margin-right: 1rem;
        }
      }
      &__value {
        width: calc(100% - 150px);
        margin-bottom: .4rem;

        .global-input {
          width: 100%;
        }
      }
    }

    &__name {
      width: 100%;
      margin-bottom: .4rem;
    }

    &__image {
      position: relative;

      img {
        max-width: 100%;
      }

      &__remove {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.5);

        .global-button {
          display: none;
          background-color: $red;
          color: #fff;
        }
      }

      &:hover {
        .account-offers-form__game__image__remove {
          display: flex;
          .global-button {
            display: block;
          }
        }
      }

      &__define {
        background-color: transparent;
        border: 2px dashed $lightBlue;
        color: #E3E5EC;
        padding: .3rem 1rem;
        font-size: inherit;
        font-family: inherit;
        display: block;
        margin: 0 auto;
        margin-top: .5rem;

        &:hover {
          border: 2px solid $secondaryColor;
          background-color: $secondaryColor;
        }
      }
    }
  } 

  &__description {
    resize: vertical;
    min-height: 400px;
    width: 100%;
    margin-bottom: $gutter/2;
  }

  &__location {
    margin-bottom: .4rem;
    width: 100%;
  }

  &__map {
    background-color: rgb(169, 187, 142);
    width: 100%;
    height: 200px;
  }
}

.account-offers-upload {
  text-align: center;

  .global-button {
    padding: .5rem 1rem;
  }

  &__file {
    font-family: inherit;
  }

  &__error {
    background-color: $red;
    color: #fff;
    padding: .5rem;
    margin-bottom: $gutter/2;
  }

  &__progress {
    background-color: #fff;
    margin: $gutter 0;
    position: relative;
    height: 25px;
    border-radius: .5rem;

    &__text {
      text-align: center;
      height: inherit;
      line-height: 25px;
      width: 100px;
      position: absolute;
      left: calc(50% - 50px);
    }

    &__bar {
      border-radius: .5rem; 
      background-color: $green;
      font-size: .8em;
      text-align: center;
      height: inherit;
    }
  }
}

@media (max-width: 1200px) {
  .account-offers-form {
    &__submit {
      min-width: 100%;
    }
    &__container {
      flex-direction: column;
      &__global {
        display: flex;
        flex-direction: column;
      }
      &__left {
        width: 100%;
        margin-right: $gutter/2;
      }
      &__right {
        width: 100%;
        margin-left: 0;
      }
    }
    &__dates {
      margin-bottom: $gutter/4;
    }
  }
}

@media (max-width: 375px) {
  .account-offers-form {

    &__block {
      &--flex50 {
        display: block;
        & > div {
          width: 100%;
          margin-bottom: $gutter/2;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__type {
      select {
        width: 100%;
        margin-right: 0;
        margin-bottom: .3rem;
      }
      input {
        width: 100%;
      }
    }

    &__game {
      select {
        width: 100%;
      }
      input {
        width: 100%;

        &:last-child {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}
