@import 'src/styles/_vars.scss';

@mixin admin-dashboard_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3d5471;
  padding: $gutter/2;
}
@mixin admin-dashboard_item_action {
  a {
    background-color: $backgroundLight;
    color: $darkBlue;
    padding: 0 .5rem;
    border-radius: 0.2rem;

    &:hover {
      background-color: $secondaryColor;
      color: #fff;
    }
  }
}

.admin-dashboard {
  h1 {
    font-size: 2em;
    font-weight: bold;
    color: $primaryColor;
    padding-bottom: $gutter/2;
    text-align: left;
  }

  .global-button {
    display: inline-block;
    margin-top: $gutter;
  }

  &__breadcrumb {
    margin: $gutter 0;

    a:hover {
      color: $secondaryColor;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__block {
      width: 550px;
      min-height: 100px;
      margin: $gutter/2;
      background-color: $darkBlue;
      padding: $gutter;
      text-align: center;

      &__title {
        margin-bottom: $gutter;
        color: $primaryColor;
        font-size: 1.2em;
        font-weight: 700;
      }
    }
  }

  &__users {
    border-top: 1px solid #3d5471;

    &__item {
      @include admin-dashboard_item;
      
      &__nickname {
        flex-grow: 1;
        text-align: left;
      }
      &__date {
        width: 130px;
      }
      &__status {
        width: 40px;

        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
        &--active i {
          color: $green;
        }
        &--wait i {
          color: $primaryColor;
        }
      }
      &__action {
        width: 60px;
        @include admin-dashboard_item_action;
      }
    }
  }

  &__offers {
    border-top: 1px solid #3d5471;

    &__item {
      @include admin-dashboard_item;
      
      &__title {
        flex-grow: 1;
        text-align: left;
      }
      &__status {
        width: 40px;

        button {
          background-color: $lightBlue;
          color: $darkBlue;
          padding: .3rem .5rem;
          border-radius: 0.2rem;
          border: none;
      
          &:hover {
            background-color: $secondaryColor;
            color: #fff;
          }
        }
        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
        &--active i {
          color: $green;
        }
        &--wait i {
          color: $primaryColor;
        }
      }
      &__disponibility {
        width: 40px;

        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
        &--yes i {
          color: $green;
        }
        &--no i {
          color: $red;
        }
      }
      &__action {
        width: 60px;
        @include admin-dashboard_item_action;
      }
    }
  }

  &__reservations {
    border-top: 1px solid #3d5471;

    &__item {
      @include admin-dashboard_item;
      
      &__title {
        flex-grow: 1;
        text-align: left;
      }
      &__status {
        width: 40px;

        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
        &--accept i, &--finish i {
          color: $green;
        }
        &--wait i {
          color: $primaryColor;
        }
        &--refuse i, &--cancel i {
          color: $red;
        }
      }
      &__action {
        width: 60px;
        @include admin-dashboard_item_action;
      }
    }
  }

  &__games {
    border-top: 1px solid #3d5471;

    &__item {
      @include admin-dashboard_item;
      
      &__title {
        flex-grow: 1;
        text-align: left;
      }
      &__action {
        width: 60px;
        @include admin-dashboard_item_action;
      }
      &__status {
        width: 40px;
        
        button {
          background-color: $lightBlue;
          color: $darkBlue;
          padding: .3rem .5rem;
          border-radius: 0.2rem;
          border: none;
      
          &:hover {
            background-color: $secondaryColor;
            color: #fff;
          }
        }
        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
        &--active i {
          color: $green;
        }
        &--wait i {
          color: $primaryColor;
        }
      }
    }
  }

}