@import 'src/styles/_vars.scss';

.account {
  &__modal {
    display: flex;
    flex-direction: column;
    line-height: 2;

    &__top {
      text-align: center;
      &__content {
        margin-bottom: $gutter;
      }
      &__close {
        &:hover{
          background-color: $secondaryColor;
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-evenly;
      &__cancel {
        background-color: $lightBlue;
        border: none;
        border-radius: 5px;
        padding: ($gutter /3);
        font-size: 1em;
        color: white;
        margin-right: $gutter/2;
        &:hover{
          background-color: $secondaryColor;
        }
      }
      &__validate {
        background-color: $green;
        border: none;
        border-radius: 5px;
        padding: ($gutter /3);
        font-size: 1em;
        color: white;
        margin-right: $gutter/2;
        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }

  &__dashboard {
    display: flex;
    flex-wrap: wrap;
  }

  &__breadcrumb {
    padding: $gutter 0;

    a:hover {
      color: $secondaryColor;
    }
  }
  &__title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: $gutter/2;
    color: $primaryColor;
  }

  &__general {
    width: 47%;
    background-color: $darkBlue;
    display: inline-block;
    padding: $gutter;
    margin: $gutter/2;
    text-align: center;
    height: 427px;
    position: relative;

    &__subtitle {
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: $gutter/2;
      color: $primaryColor;
    }
    &__table {
        margin: auto;
        width: 95%;
        overflow: auto;
        &__test {
          max-height: 306px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 7px;
            background-color: $darkBlue;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $lightBlue;
            border-radius: 15px;
          }
        }
      &__body {
        // border: $lightBlue solid 1px;
        border-top: $lightBlue solid 1px;
      
        overflow: auto;
        &__tr {
          border-bottom: 1px solid $lightBlue;
          &__td{
            overflow: hidden;
            max-width: 163px;
            max-height: 30px;
          }
        }
        &__td {
          // border: $lightBlue solid 1px;
          padding: .5rem 1rem;
          line-height: 1.2em;
          &--button {
            display: flex;
            justify-content: flex-end;
          }
          &__circle {

            &--available {
              margin: auto ;
              color: $green;
              font-size: 1.4em;
              display: inline-block;
              vertical-align: middle;
            }
            &--refused {
              border-radius: 50%;
              width: 20px;
              height: 20px;
              margin: auto ;
              background-color: $red;
              display: inline-block;
              vertical-align: middle;
            }

            &--pending {
              margin: auto ;
              color: $primaryColor;
              font-size: 1.4em;
              display: inline-block;
              vertical-align: middle;
            }
          }

          &__status__available {
            margin-left: $gutter/2;
            border-radius: 10px;
            padding: ($gutter /7) ($gutter/4);
            background-color: $green;
            font-size: .7em;
            color: $darkBlue;
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
          }

          &__status__unavailable {
            margin-left: $gutter/2;
            border-radius: 10px;
            padding: ($gutter /7) ($gutter/4);
            background-color: $backgroundLight;
            font-size: .7em;
            color: $darkBlue;
            vertical-align: middle;
            font-weight: bold;
          }
          &__status__pending {
            margin-left: $gutter/2;
            border-radius: 10px;
            padding: ($gutter /7) ($gutter/4);
            background-color: $primaryColor;
            font-size: .7em;
            color: $darkBlue;
            vertical-align: middle;
            font-weight: bold;
          }
          &__status__refused, &__status__canceled {
            margin-left: $gutter/2;
            border-radius: 10px;
            padding: ($gutter /7) ($gutter/4);
            background-color: $red;
            font-size: .7em;
            color: $backgroundLight;
            vertical-align: middle;
            font-weight: bold;
          }

          &--left {
            text-align: left;
            display: flex;
            display: block;
          }
          &__button {
            border: none;
            border-radius: 5px;
            background-color: #E3E5EC;
            margin: 0.3rem;
            // padding: 0;
            font-size: $gutter/2;
            &--bellslash {
              color: $darkBlue;
            }
            &--bell {
              color: $green;

              padding:.1rem .2rem .2rem .2rem;
            }
            &--remove {
              color: $red;
              padding: .3rem .3rem .3rem .3rem;
            }

            &:disabled i {
              color: rgb(170, 170, 170);
            }
          }
          &__button__pencil {
            border: none;
            border-radius: 5px;
            background-color: #E3E5EC;
            margin: 0.3rem;
            font-size: $gutter/2;       
          }
          &__button__pencil{
            color: $darkBlue;
            padding: .5rem .5rem .4rem .5rem;
            &__disabled {
              padding: .5rem .5rem .4rem .5rem;
              border: none;
              border-radius: 5px;
              background-color: #E3E5EC;
              margin: 0.3rem;
              font-size: $gutter/2;
            }
          }
          &__button__remove{
            color: $red;
            padding: .4rem .6rem;
          }
          &__button__eye {
            text-align: center;
            padding: .3rem .4rem;
            color: $darkBlue;
          }

          &__button__bell {
            color: $green;
          }
          &__button__bellslash {
            color: $darkBlue;
            padding: 0.5rem .4rem;
            &--grey {
              color: grey;
            }
          }
          &__link {
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
    &__icon {
      color: $lightBlue;
      font-size: $gutter*8;
    }
    &__button {
      display: inline-block;
      // margin: 0 auto;
      margin-top: $gutter/2;
      bottom: 20px;
      position: absolute;
      right: 37%;
    }
  }

  &__profil {
    display: flex;
    justify-content: space-between;
    padding: $gutter;
    &__left {
      text-align: left;
      
      &__list {
        margin-bottom: $gutter;
        &__content {
          line-height: 2em;
          &__bold {
            font-weight: bold;
          }
        }

      }
      &__link {
        border-bottom: 1px solid $secondaryColor;
        font-size: 1.1em;
        &:hover{
          color: $secondaryColor;
          
        }
      }
    }

    &__right {
      &__picture {
        font-size: $gutter*5;
        border-radius: 50%;
      }
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .account {
    width: 100%;
    &__title {
      text-align: center;
    }
    &__general {
      width: 100%;

      &__table {
        &__body {
          display: flex;
          flex-direction: column;
          &__tr {
            justify-content: space-between;
            display: flex;
            border-bottom: solid 1px $lightBlue;

          }
          &__td {
            display: flex;
            border-bottom: none;
            margin: auto 0; 
            width:200px ;
            &--button {
              width: 130px;
            }
          }
        }
      }
      &__button {
        background-color: $backgroundLight;
        color: $darkBlue;
      }

      &__icon {
        margin-top: 10px;
      }

    }

    &__profil {
      display: flex;
      &__left {
        &__link {
          text-align: center;
        }
      }
      &__right {
        text-align: center;
        &__picture {
          font-size: $gutter*4;
        }
      }
    }

  }
}

@media (max-width: 700px) {
  .offer__account__general__table {
    &__body__tr {
      justify-content: center;
    }
  }
  .account {
    width: 100%;

    &__title {
      text-align: center;
    }
    &__general {
      width: 100%;
      display: block;
      height: auto;
      margin: .5rem 0;
      &__table {
        border: none;
        &__body {
          display: flex;
          flex-direction: column;
          border: none;
          &__td {
            display: flex;
            border-bottom: none;
            margin: auto;
            justify-content: center;
            &__link {
              margin: auto;
              text-align: center;
            }
            &__status__available, &__status__unavailable {
              margin: 0;
            }
            &__status__pending {
              margin: auto;
            }
            &__button{
              margin: auto;
              &__bell {
                padding: .6rem .5rem;
              }
              &__remove {
                padding: .6rem .8rem;
              }
              &--remove {
                padding: .5rem .3rem;
              }
              &--bell {
                padding: .6rem .4rem;
              }
            }
            &--button {
              text-align: center;
              margin-bottom: .5rem;
            }
          }

          &__tr {
            flex-direction: column;
            display: flex;
            border-bottom: solid 1px $lightBlue;
            margin-bottom: .5rem;
          }
        }
        &__test {
          justify-content: center;
        }
      }
      &__subtitle__profil {
        margin-top: $gutter/2;
        margin-bottom: 0;
      }
      &__button {
        position: initial;
        margin-top: $gutter;
      }
    }

    &__profil {
      display: flex;
      flex-direction: column-reverse;
      &__right {
        margin-bottom: .7rem;
        &__picture {
          font-size: $gutter*2;
          border-radius: 50%;
        }
      }
    }
  }

  .profil {
    height: auto;
    padding: 0;
  }
}
